/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Virtual environments
venv/
.env
.env.local
.env*.local

# Cache en logs
storage/logs/
storage/framework/views/
storage/framework/cache/
storage/framework/sessions/

# AI-model (grote bestanden)
ai-model/model/
/AI/__pycache__
